.DS_Store
.claude/settings.local.json
.direnv
.history
tmp

# kicad temp/state files
*-backups
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.lck
*.sch-bak
*auto_saved_files*
*~
_autosave-*
_restore_backup_*/
fp-info-cache
